.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-content {
  padding: 20px;
}

.router-link-active {
  font-weight: bolder;
  background-color: #e8e8e8;
}
